body{
    background-color: rgb(231, 231, 231);
}
.whole{
    width: 1000px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    justify-self: center;
    padding:20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.005);
    height:1050px;
    font-weight: lighter;
    font-size: smaller;

}
.container{
    background-color: rgb(29, 49, 68);
    color:white;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.section1{
    text-align: center;
}
.section1 img{
    width:150px;
    border-radius: 100px;
    border: 1px solid white;
    box-sizing: border-box;
}
.container2{
    background-color:white;
    padding:30px;
    font-family:Arial, Helvetica, sans-serif;
}
.container2 h2{
    color:rgb(29, 49, 68);
}
.italic{
    font-style:italic;
    color:grey;
}
@media(max-width:1050px){
    .whole{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}