*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    
}
body{
    background-color: black;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
}
.article1{
    background-image: url(home.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 95vh;
}
header{
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: larger;

}
.nav1{
    display: flex;
    font-size: 2em;
}
.nav1 img{
    width: 10vw;
    border-radius:100px;
    margin:0.5em;
    /* margin:0.75em;
    margin-left:1em; */
    height: 20vh;
    opacity: 20%;
}
.nav1 h1{
    margin-top:1em;
}
.nav2 ul{
    display: flex;
    list-style-type: none;
    padding:1em;
}
.nav2 li{
    margin:0.5em;
    margin-top:2.5em;
    font-size: 1em;
}
.nav2 a{
    color: white;
    text-decoration: none;
}
.nav2 a:hover{
    color:darkgrey;
    background-color:black;
    border:2px solid darkgrey;
    padding: 0.25em;
    border-radius: 10em;
    transition: 0.3s ease-in;
    cursor:grab;
}
.section{
    margin:-2em auto 0;
    background-color: white;
    text-align: center;
    max-width:400px;
    max-height:300px;
    border-radius: 1em;
    font-size: 1.1em;
    padding:1em;
    font-style: italic;
}

.section h1{
    font-size: 1.5em;
}
/* .section p{
    font-style: italic;
} */

.container{
    background-image: linear-gradient(to bottom , rgb(0, 0, 0), rgb(26, 26, 26), rgb(36, 36, 36), rgb(26, 26, 26), black);
    margin:1em;
}
.h1{
    color:white;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 10em;
}
.music{
    margin:4em;
    text-align: center;
    display: flex;
    max-width:500px;
    justify-self:center;
    padding-right:1em;
    border-radius: 50px;
    max-height: 240px;
    background-image: linear-gradient(to right , #545353 , #4a5453, #55606b, #4a5453, #545353);
    box-shadow: 5px 5px 5px #808f99;
    border:solid #2e3844 2px;
}
.music img{
    width:250px;
    border-radius: 1000px;
    margin-left:-8em;
}
.music-container{
    color:white;

}
.music-info{
    color:white;
    justify-self: center;
    background-image: linear-gradient(to right , #545353 , #4a5453, #55606b, #4a5453, #545353);
    max-width:500px;
    padding:1.2em;
    border-radius: 40px;
    text-align: center;
    box-shadow: 5px 5px 5px #808f99;
    border:solid #2e3844 2px;
    margin-bottom:5em;
}
.music-info h1{
    font-family: "Dancing Script", cursive;
    font-size: 4em; 
}
.music-info img{
    margin:1em;
    width:200px;
    height:200px;
    box-shadow: 5px 5px 5px #808f99;
    border:solid #2e3844 2px;
    border-radius: 20px;
}
.home-ideas{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:900px;
}
.home-ideas img{
    width:300px;
    height:400px;
    margin:2em;
    box-shadow: 5px 5px 5px #808f99;
    border:solid #2e3844 2px;
    border-radius: 20px;
}
.about-content{
    display: flex;
    color:white;
    max-width:700px;
    justify-self: center;
    border-radius: 40px;
    text-align: center;
    box-shadow: 5px 5px 5px #808f99;
    border:solid #2e3844 2px;
    margin:2em;
    padding:1em;
}

.about-image{
    width:300px;
    height:400px;
    border:solid #2e3844 2px;
    border-radius: 40px;
}
.about-info  h1{
    font-size: 5em;
    font-family: "Dancing Script", cursive;
}
.h1-1{
    /* margin:2em; */
    font-size: 5em;
    color:white;
    text-align: center;
}
.h1-2{
    text-align: center;
    color:white;
    font-size: 5em;
}
footer{
    border-top: royalblue 1em solid;
    border-radius: 1em;
    display: flex;
    color:white;
    margin:1.5em;
}
.footer2 img{
    width:35vw;
    margin-top:1.5em;
    border-radius:8em;
    height:100vh;
}
.footer1{
    display: flex;
    font-size: larger;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-links{
    margin:3em;
    margin-top: 3em;
}
.footer1 h2{
    font-size: 2em;
}
.footer1 a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
.footer1 a:hover{
    color:rgb(12, 0, 88);
    background-color:rgb(149, 199, 255);
    text-decoration: underline royalblue;
    padding: 0.25em;
    border-radius: 10em;
}
.footer1 ul{
    list-style-type: none;
}
.social h2{
    margin-top: 0.5em;
    text-align: center;
    font-size: 4.5em;
}
.social{
    text-align: center;
}
.social img{
    border-radius: 50em;
    width: 11vw;
    height: 22vh;
    margin: 0.5em;
    margin-bottom: 3em;
}
/* @media (max-width:1300px){
    .about-item h2{
        word-wrap: break-word;
    }
    .footer1{
        display:block;
        text-align: center;
    }
    .about-image img{
        width: 100%;
        height:auto;
    }
    .h1-1{
        margin:0;
        margin-top:80vw;
    }
    .section{
        width: auto;
        height: auto;
    }
    nav{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nav2 ul{
        padding:0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .social-content img{
        width: 20%;
        height: 20%;
    }
    .nav1 img{
        width: 10vw;
    }
    footer{
        flex-direction: column;
    }
    .footer2 img{
        width: 60%;
        margin-left: 15em;
    }
    .social-content img{
        border-radius: 50em;
        width: 11vw;
        height: 22vh;
        margin: 0.5em;
        margin-bottom: 5em;
        flex-direction: column;
    }
}
@media (max-width:700px){
    .nav1 img{
        width: 20%;
    }
    .footer2 img{
        width: 100%;
        margin-left: 0;
    }

}
@media (max-width:400px){
    .h1{
        text-align: center;
        margin-left:1em;
    }
}
@media (max-width:335px){
    .h1{
        text-align: center;
        margin:0.25em;
    }
    .section-content img{
        margin-left:0;
        margin-right:0;
    }
} */
